hr{
    width: 80px;
    height: 2px;
    border: 4px solid blue;
    margin-top: 50px;
    background-color: blue;
}
.nav-item a:hover{
    border-bottom: 5px solid black;
    padding-bottom: 2px;
}
span{
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    float: left;
}
#unique img{
    height: 427px;
}
footer h5{
    text-decoration: underline;
}
section p{
    font-size: 50px;
    font-weight: bold;
}